interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:05JWvVDWO0o3hjSnWrle3Mozh2M=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":null,"balance":88.0,"balance_currency":"MXN","balance_updated_at":"2018-12-12T18:26:40Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"86f4cd3d97cdde1e23c3929924cbaf70"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 88.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:j1KxoWO/2itQLXRwGJsa1mBNzIg=']
      Content-MD5: [Nhxm6tYcK6kyxnXEwH2+eQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":45979,"amount":88.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":4.36,"transaction_fee":3.0,"total_usd":4.51,"hours_to_fulfill":24,"created_at":"2018-12-12T18:26:42Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"170e091fc92d9f07810134419f935acf"]
    status: {code: 201, message: Created}
version: 1
