interactions:
- request:
    body: '{"biller_id": 40, "account_number": "501000000007"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:WZT/hDl9L3n8ZaXZ4uIlaGLnnLg=']
      Content-MD5: [PtZUYQ9bmh3ULNV0W7ZNdw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8390,"biller_id":40,"account_number":"501000000007","name_on_account":null,"due_date":null,"balance":549.0,"balance_currency":"MXN","balance_updated_at":"2018-12-12T17:13:30Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"17a44aace8531bbd793f28d78df62a7f"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 549.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:17dFRd82tH58c06wee4VM2Ct5Wc=']
      Content-MD5: [ze1WRUVApUnpFxTpAr7ygw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8390/pay
  response:
    body: {string: '{"type":"transaction","id":45977,"amount":549.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":27.23,"transaction_fee":3.0,"total_usd":27.38,"hours_to_fulfill":0,"created_at":"2018-12-12T17:13:32Z","status":"fulfilled"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"ff3aa0eef834b8ccd240a9c10a851a01"]
    status: {code: 201, message: Created}
version: 1
