ARCUS_API_KEY=
ARCUS_SECRET_KEY=
ARCUS_USE_SANDBOX=true
ARCUSD_AMPQ_ADDRESS=amqp://rabbitmq:5672
ARCUSD_DB_MONGO_URL=mongodb://mongo:27017/db
ARCUSD_PAYMENTS_QUEUE=arcusd.paymentservices
ARCUSD_CALLBACK_URL=http://127.0.0.1:5000/arcusd/callback
ARCUSD_CALLBACK_API_KEY=ABCDEFGHI
ARCUSD_CALLBACK_SECRET=JKLMNOPQRS
ARCUSD_SENTRY_DSN=
ARCUSD_WORKERS=0
