ARCUS_USE_SANDBOX=true
ARCUSD_AMPQ_ADDRESS=rabbitmq
ARCUSD_PAYMENTS_QUEUE=arcusd.paymentservices
ARCUSD_CALLBACK_URL=http://127.0.0.1:5000/arcusd/callback
ARCUSD_WORKERS=0
ARCUS_API_KEY=
ARCUS_SECRET_KEY=
