ARCUS_API_KEY=ABCDFGHI
ARCUS_SECRET_KEY=OPQRSa
TOPUP_API_KEY=abcdefghi
TOPUP_SECRET_KEY=opqrst
ARCUS_USE_SANDBOX=true
ARCUSD_AMPQ_ADDRESS=amqp://rabbitmq:5672
ARCUSD_DB_MONGO_URL=mongodb://mongo:27017/db
ARCUSD_PAYMENTS_QUEUE=arcusd.paymentservices
ARCUSD_CALLBACK_URL=http://127.0.0.1:5000/arcusd/callback
ARCUSD_CALLBACK_API_KEY=ABCDEFGHI
ARCUSD_CALLBACK_SECRET=JKLMNOPQRS
ARCUSD_SENTRY_DSN=https://3@sentry.io/1
ARCUSD_WORKERS=0
TOPUP_BILLERS=20,30,40
NEW_RELIC_LICENSE_KEY=foo
MULTIDICT_NO_EXTENSIONS=1
ARCUSD_PROD=false