interactions:
- request:
    body: '{"biller_id": 37, "account_number": "2424240024"}'
    headers:
      Authorization:
      - APIAuth 88879c1b066dc9aea6201f27be2bbba9:fj02gr8xMzjW4/iNxhTM/cZS/vg=
      Content-MD5:
      - ZzalFfx6gqbsDisb9hrS9Q==
      Content-Type:
      - application/json
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body:
      string: '{"type":"bill","id":8395,"biller_id":37,"account_number":"2424240024","name_on_account":null,"due_date":null,"balance":56.0,"balance_currency":"MXN","balance_updated_at":"2019-08-12T17:49:08Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"921ced9f42faf9709c1377778c134f48"
    status:
      code: 200
      message: OK
- request:
    body: '{"amount": 56.0, "currency": "MXN"}'
    headers:
      Authorization:
      - APIAuth 88879c1b066dc9aea6201f27be2bbba9:4whY9rkEqClOfs5jMnPTIWIn1T4=
      Content-MD5:
      - rdbjwubSfYIGnp5/M07OMA==
      Content-Type:
      - application/json
    method: POST
    uri: https://api.casiregalii.com/bills/8395/pay
  response:
    body:
      string: '{"code":"R500"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 500
      message: Bad Request
version: 1
