interactions:
- request:
    body: '{"biller_id": 5985, "account_number": "1111322016"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:eNlXgwsdwsi5DYWN3kwgfP7wGPo=']
      Content-MD5: [nx4URS2KvTERMycsBg9BXA==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":12481,"biller_id":5985,"account_number":"1111322016","name_on_account":null,"due_date":null,"balance":null,"balance_currency":"MXN","balance_updated_at":null,"error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"78090fa2d5854aac937451ad372c08bf"]
    status: {code: 200, message: OK}
version: 1
