interactions:
- request:
    body: '{"biller_id": 40, "account_number": "501000000007"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:vfdxxq6flki98I3TGSRaYFYMvFE=']
      Content-MD5: [PtZUYQ9bmh3ULNV0W7ZNdw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8390,"biller_id":40,"account_number":"501000000007","name_on_account":null,"due_date":null,"balance":549.0,"balance_currency":"MXN","balance_updated_at":"2019-01-28T18:33:25Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"f2576eb85365d877d7be18a56d6c717d"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 570.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:9CDXKn8zpktfPi/LUtoiLqt5hqQ=']
      Content-MD5: [cYrTQ+Up3JCNJwJvAtfUaQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8390/pay
  response:
    body: {string: '{"type":"transaction","id":47579,"amount":570.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":29.93,"transaction_fee":3.0,"total_usd":30.08,"hours_to_fulfill":0,"created_at":"2019-01-28T18:33:27Z","status":"fulfilled"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"30c68f664f548585eae02ddb1d8db426"]
    status: {code: 201, message: Created}
version: 1
