interactions:
- request:
    body: '{"biller_id": 13599, "account_number": "559999", "amount": 10000, "currency":
      "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:Xbd+mMo1H5uYCiMvkt5U/rWLevE=']
      Content-MD5: [fYvInbX4/icKZdI7EF9AMg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bill/pay
  response:
    body: {string: '{"code":"R5","message":"Invalid Phone Number","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 422, message: Unprocessable Entity}
version: 1
