interactions:
- request:
    body: '{"biller_id": 37, "account_number": "2424240024"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:ja1u6NlpBnjCx+BlbSjL1PAq5bU=']
      Content-MD5: [ZzalFfx6gqbsDisb9hrS9Q==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8395,"biller_id":37,"account_number":"2424240024","name_on_account":null,"due_date":null,"balance":825.0,"balance_currency":"MXN","balance_updated_at":"2019-01-28T18:33:30Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"3f09c85423621cb65f81d9d70726eff0"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 825.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:EkrNZkl8cjlgNWtdFrdzRqKGDbk=']
      Content-MD5: [RDXEv2DjnDToNKLm3jAFdw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8395/pay
  response:
    body: {string: '{"code":"R400"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 400, message: Bad Request}
version: 1
