interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:/SnG2XnXgqc/VxCnA373fIuR0yY=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":null,"balance":282.0,"balance_currency":"MXN","balance_updated_at":"2019-01-28T18:33:53Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"0afba4f83cb1f69ac714a28af41cd9de"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 282.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:Xq5LbRpOdp/F1Rr3qQTPYjaOP9g=']
      Content-MD5: [Hk0SR816IKL0spn3nmp55A==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":47603,"amount":282.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":14.81,"transaction_fee":3.0,"total_usd":14.96,"hours_to_fulfill":24,"created_at":"2019-01-29T16:59:08Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"6ef9f6a33e04fce6e4d01229c6811059"]
    status: {code: 201, message: Created}
- request:
    body: '{"id": 47603}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:ehZcBOYzVtnUMt/zNLPcUkXtnmY=']
      Content-MD5: [sejt6FQriqVReGaYb4ttqg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R0","message":"Transaction successful","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"db0d73e6dab3e6ac7e916f3c7659ec9f"]
    status: {code: 200, message: OK}
version: 1
