interactions:
- request:
    body: '{"biller_id": 37, "account_number": "2424240024"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:Z38eqeTO5G8pQ3o3DGn2hV0qnTs=']
      Content-MD5: [ZzalFfx6gqbsDisb9hrS9Q==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8395,"biller_id":37,"account_number":"2424240024","name_on_account":null,"due_date":null,"balance":763.0,"balance_currency":"MXN","balance_updated_at":"2019-01-17T17:33:08Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"872aeec9a70f4706234dc8459625521c"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 763.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:OoKBjH61bujkZduR4H6hocnQKlQ=']
      Content-MD5: [oiNubXfk84ELShFA2vj7NQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8395/pay
  response:
    body: {string: '{"code":"R24","message":"Timeout from biller","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 422, message: Unprocessable Entity}
version: 1
