interactions:
- request:
    body: '{"biller_id": 40, "account_number": "501000000007"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:xIpn5k1qSmnEePdGshYOhYhHEd8=']
      Content-MD5: [PtZUYQ9bmh3ULNV0W7ZNdw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8390,"biller_id":40,"account_number":"501000000007","name_on_account":null,"due_date":null,"balance":549.0,"balance_currency":"MXN","balance_updated_at":"2019-01-25T19:13:10Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"5da83c25c1cfe9a3a3a01bc0ba781b15"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 570.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:GzjuKXCbZV0Itfl4OONYZjX0SJo=']
      Content-MD5: [cYrTQ+Up3JCNJwJvAtfUaQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8390/pay
  response:
    body: {string: '{"type":"transaction","id":47503,"amount":570.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":30.04,"transaction_fee":3.0,"total_usd":30.2,"hours_to_fulfill":0,"created_at":"2019-01-25T19:13:12Z","status":"fulfilled"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"b83bf895d28a38e69a1b59495cda0502"]
    status: {code: 201, message: Created}
version: 1
