interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:kgn/8oms7zf6jJ3Ug4RYjL4uGhw=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":null,"balance":970.0,"balance_currency":"MXN","balance_updated_at":"2018-12-10T18:10:25Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"b0e9982deb89c80a949e32a47117fad6"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 970.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:19GS5FmaDPtq5BazkfU63SxdPvA=']
      Content-MD5: [6qAZzZ0bdOIIUPTZfyHDog==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":45879,"amount":970.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":47.92,"transaction_fee":3.0,"total_usd":48.07,"hours_to_fulfill":24,"created_at":"2018-12-10T18:10:27Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"9277944b70b543d8dc62689bd6fdcecb"]
    status: {code: 201, message: Created}
- request:
    body: '{"id": 45879}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:ikIDBsiXEglEzXYu5Qo3sOjSpHE=']
      Content-MD5: [LYh9atKzz6ZsMJu5C5KNAw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R0","message":"Transaction successful","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"db0d73e6dab3e6ac7e916f3c7659ec9f"]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:w4Pc0JkP1NvqrO+0muoVE8h4uXk=']
      Content-MD5: [mZFLkyvTelC5g8XnyQrpOw==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.casiregalii.com/transactions?q[id_eq]=45879
  response:
    body: {string: '{"transactions":[{"type":"transaction","id":45879,"amount":970.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":47.92,"transaction_fee":3.0,"total_usd":48.07,"hours_to_fulfill":24,"created_at":"2018-12-10T18:10:27Z","status":"refunded"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"2d3bd4d8da180c008a7c4e500b8da0f1"]
      X-Pagination: ['{"total_entries":1,"total_pages":1,"previous_page":null,"current_page":1,"next_page":null}']
    status: {code: 200, message: OK}
version: 1
