interactions:
- request:
    body: '{"biller_id": 40, "account_number": "501000000007"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:QAz5D1t+ZC8FVwTNQRA48DhssWM=']
      Content-MD5: [PtZUYQ9bmh3ULNV0W7ZNdw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8390,"biller_id":40,"account_number":"501000000007","name_on_account":null,"due_date":null,"balance":549.0,"balance_currency":"MXN","balance_updated_at":"2019-01-17T17:33:06Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"a5d043416459e2e0b5074a77ed112b21"]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:HXD+4+Zsba0QUM+rdCVIum5nlu4=']
      Content-MD5: [mZFLkyvTelC5g8XnyQrpOw==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.casiregalii.com/bills/8390
  response:
    body: {string: '{"type":"bill","id":8390,"biller_id":40,"account_number":"501000000007","name_on_account":null,"due_date":null,"balance":549.0,"balance_currency":"MXN","balance_updated_at":"2019-01-17T17:33:06Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"a5d043416459e2e0b5074a77ed112b21"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 549.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:SSGgW8iT1lyfrmVaql36HbF2FL0=']
      Content-MD5: [ze1WRUVApUnpFxTpAr7ygw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8390/pay
  response:
    body: {string: '{"type":"transaction","id":47139,"amount":549.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":29.04,"transaction_fee":3.0,"total_usd":29.2,"hours_to_fulfill":0,"created_at":"2019-01-17T17:33:08Z","status":"fulfilled"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"64079f4e7518edba5560e6799c7228c4"]
    status: {code: 201, message: Created}
version: 1
