interactions:
- request:
    body: '{"biller_id": 13599, "account_number": "5599999999", "amount": 93.3, "currency":
      "MXN", "name_on_account": null}'
    headers:
      Authorization: ['APIAuth ABCDEFG:evodb8PG8fsXzjIifbgiUJJm+mw=']
      Content-MD5: [IhGgxrCDERPIeL39hPiEAw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bill/pay
  response:
    body: {string: '{"code":"R3","message":"Invalid Payment Amount","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 422, message: Unprocessable Entity}
version: 1
