interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:hHdsAoN6KMZf1hgwBz8is0hWUIA=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":null,"balance":310.0,"balance_currency":"MXN","balance_updated_at":"2018-12-12T18:51:42Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"6cb9b98b81b0bc2586185cc6641e735d"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 310.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:hr7GEtScjNPiETuoUmdCoIVpYT8=']
      Content-MD5: [fUdjvw9wBZvoWYUqbxYAzw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":45980,"amount":310.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":15.38,"transaction_fee":3.0,"total_usd":15.52,"hours_to_fulfill":24,"created_at":"2018-12-12T18:51:43Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"5e38d697b9b996fbf79d1e748a0bfdcb"]
    status: {code: 201, message: Created}
- request:
    body: '{"id": 45980}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:HkTpA5lL2/eFF+eW+cq+wId8ZbI=']
      Content-MD5: [/vmKJ3NDqAleB7LgIAUdsQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R0","message":"Transaction successful","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"db0d73e6dab3e6ac7e916f3c7659ec9f"]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:agP3mLw33MTs3QMGzLE8i+iS8uo=']
      Content-MD5: [mZFLkyvTelC5g8XnyQrpOw==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.casiregalii.com/transactions?q[id_eq]=45980
  response:
    body: {string: '{"transactions":[{"type":"transaction","id":45980,"amount":310.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":15.38,"transaction_fee":3.0,"total_usd":15.52,"hours_to_fulfill":24,"created_at":"2018-12-12T18:51:43Z","status":"refunded"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"f4aba6f00103f519e1466145b17c886f"]
      X-Pagination: ['{"total_entries":1,"total_pages":1,"previous_page":null,"current_page":1,"next_page":null}']
    status: {code: 200, message: OK}
version: 1
