interactions:
- request:
    body: '{"biller_id": 37, "account_number": "2424240024"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:g4esGCYxeJpzdlMxppcJOoao/Tk=']
      Content-MD5: [ZzalFfx6gqbsDisb9hrS9Q==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8395,"biller_id":37,"account_number":"2424240024","name_on_account":null,"due_date":null,"balance":238.0,"balance_currency":"MXN","balance_updated_at":"2018-12-10T18:10:02Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"0cd2346b6d6b2ba4778d767abd38f17b"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 238.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:Rzjo49ni25ypIhrp64WQkknuprU=']
      Content-MD5: [N6+Z7UiMhhbPOb7wNLOsRg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8395/pay
  response:
    body: {string: '{"code":"R24","message":"Timeout from biller","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 422, message: Unprocessable Entity}
version: 1
