interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:yNzvrs5NH0I9KuzkbK9McQI0Mdk=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":null,"balance":929.0,"balance_currency":"MXN","balance_updated_at":"2019-01-17T17:33:32Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"0f2583347a1c8e409fa9a29aa75325ca"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 929.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:vptCIzsXG7vxKvr20Y/IWFvWcVk=']
      Content-MD5: [MlZYCYIb3n1wBz0wmcq2cg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":47142,"amount":929.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":49.14,"transaction_fee":3.0,"total_usd":49.3,"hours_to_fulfill":24,"created_at":"2019-01-17T17:33:33Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"74ce5070746b1e190c6a39915333bfc7"]
    status: {code: 201, message: Created}
- request:
    body: '{"id": 47142}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:7/Hbg2mxILn/4MJhdtciS0KZdoQ=']
      Content-MD5: [OIkmyBNvuUlqVmZA6f4QFQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R0","message":"Transaction successful","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"db0d73e6dab3e6ac7e916f3c7659ec9f"]
    status: {code: 200, message: OK}
version: 1
