interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:gtffgJLsUNkMQoBiz8Lz15BiCYg=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":null,"balance":459.0,"balance_currency":"MXN","balance_updated_at":"2018-12-08T02:15:03Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"433fc6362439d114fdfa1cd97b47d5a3"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 459.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:SK7q+xC73t3Uuh8QaDLql4uch44=']
      Content-MD5: [gHZ0wwELwejKWKuqcgf9vw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":45839,"amount":459.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":22.54,"transaction_fee":3.0,"total_usd":22.68,"hours_to_fulfill":24,"created_at":"2018-12-08T02:15:05Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"6c0c4c10b3d3e2099b07fe28970758f2"]
    status: {code: 201, message: Created}
- request:
    body: '{"id": 45839}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:LH0BMFVfl7wtZEa+SNJvUhaSorI=']
      Content-MD5: [lZlQYZpYpyK9ThfBSdmtoQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R0","message":"Transaction successful","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"db0d73e6dab3e6ac7e916f3c7659ec9f"]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:FypR/3tYC8mZ9yDQCBVajtOkq4A=']
      Content-MD5: [mZFLkyvTelC5g8XnyQrpOw==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.casiregalii.com/transactions?q[id_eq]=45839
  response:
    body: {string: '{"transactions":[{"type":"transaction","id":45839,"amount":459.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":22.54,"transaction_fee":3.0,"total_usd":22.68,"hours_to_fulfill":24,"created_at":"2018-12-08T02:15:05Z","status":"refunded"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"bb0430cc2b44e11c95040ee65fa5bbaa"]
      X-Pagination: ['{"total_entries":1,"total_pages":1,"previous_page":null,"current_page":1,"next_page":null}']
    status: {code: 200, message: OK}
version: 1
