interactions:
- request:
    body: '{"biller_id": 1781, "account_number": "5599999999", "amount": 350.0, "currency":
      "MXN", "name_on_account": "Billy R. Rosemond"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:4Pe18Ihl5w+aJENesNjonkLY5Pk=']
      Content-MD5: [F2udpVOIEliRWhpqWQmN1Q==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bill/pay
  response:
    body: {string: '{"id":47115,"external_id":null,"biller_id":1781,"account_number":"5599999999","bill_amount":350.0,"bill_amount_currency":"MXN","fx_rate":1.0,"bill_amount_usd":18.45,"bill_amount_chain_currency":350.0,"payment_transaction_fee":3.0,"payment_total_usd":18.6,"payment_total_chain_currency":353.0,"chain_earned":3.0,"chain_paid":350.0,"starting_balance":118905.76,"ending_balance":118555.76,"hours_to_fulfill":48,"sms_text":null,"created_at":"2019-01-17T01:00:15Z","bill_amount_local_currency":350.0,"local_currency":"MXN","ticket_text":"Pago
        realizado exitosamente Auth: 1547686815"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"0a07c837fb04e410a499e823e4202998"]
    status: {code: 201, message: Created}
version: 1
