interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:K3xRtEFybF8Rx8vaZoGtOihHgn8=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":null,"balance":92.0,"balance_currency":"MXN","balance_updated_at":"2019-01-17T01:00:17Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"b2d23ef66b51534478728b94371d5b02"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 92.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:k5Kai0hW0EE30VAwp9dTteY8QGc=']
      Content-MD5: [iOvDN8291jWC24xOIPMGJQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":47116,"amount":92.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":4.85,"transaction_fee":3.0,"total_usd":5.01,"hours_to_fulfill":24,"created_at":"2019-01-17T01:00:18Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"5bb6050f8b0cab6782f86edd39329ee0"]
    status: {code: 201, message: Created}
- request:
    body: '{"id": 47116}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:OuQ3SAOODIf7BnQzCdXSCaMsyHQ=']
      Content-MD5: [p22OMj8tAIB5ISRhYfJC/A==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R0","message":"Transaction successful","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"db0d73e6dab3e6ac7e916f3c7659ec9f"]
    status: {code: 200, message: OK}
version: 1
