interactions:
- request:
    body: '{"biller_id": 40, "account_number": "501000000007"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:fn4nviJbh40CTFtuAKMKKY8WqHM=']
      Content-MD5: [PtZUYQ9bmh3ULNV0W7ZNdw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8390,"biller_id":40,"account_number":"501000000007","name_on_account":null,"due_date":null,"balance":549.0,"balance_currency":"MXN","balance_updated_at":"2018-12-10T18:09:59Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"c9dc7b87171d0e175242a835030974eb"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 549.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:yyFXW8Sa0dEOrV9cFgSQb8muPCs=']
      Content-MD5: [ze1WRUVApUnpFxTpAr7ygw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8390/pay
  response:
    body: {string: '{"type":"transaction","id":45877,"amount":549.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":27.12,"transaction_fee":3.0,"total_usd":27.27,"hours_to_fulfill":0,"created_at":"2018-12-10T18:10:01Z","status":"fulfilled"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"63a557533006a27e748d46cf871e5f84"]
    status: {code: 201, message: Created}
version: 1
