interactions:
- request:
    body: '{"biller_id": 13599, "account_number": "5599999999", "amount": 100.0, "currency":
      "MXN", "name_on_account": null}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:vY/H2m6SrGWZIQSI7Rxrg9LbtTU=']
      Content-MD5: [gezFHl/YiK0K7SyixrATUQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bill/pay
  response:
    body: {string: '{"id":47140,"external_id":null,"biller_id":13599,"account_number":"5599999999","bill_amount":100.0,"bill_amount_currency":"MXN","fx_rate":1.0,"bill_amount_usd":5.29,"bill_amount_chain_currency":100.0,"payment_transaction_fee":0.0,"payment_total_usd":5.29,"payment_total_chain_currency":100.0,"chain_earned":7.5,"chain_paid":92.5,"starting_balance":115091.26,"ending_balance":114998.76,"hours_to_fulfill":0,"sms_text":null,"created_at":"2019-01-17T17:33:30Z","bill_amount_local_currency":100.0,"local_currency":"MXN","ticket_text":"Pago
        realizado exitosamente Auth: 1547746410"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"2df9357e75ff242777881b2cc30a7fed"]
    status: {code: 201, message: Created}
version: 1
