interactions:
- request:
    body: '{"biller_id": 13599, "account_number": "5599999999", "amount": 100.0, "currency":
      "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:iNshg36cEFzCOLpXvdvkXyMqimo=']
      Content-MD5: [/W0N1EQB5+ilT5qQ3preHg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bill/pay
  response:
    body: {string: '{"id":45838,"external_id":null,"biller_id":13599,"account_number":"5599999999","bill_amount":100.0,"bill_amount_currency":"MXN","fx_rate":1.0,"bill_amount_usd":4.91,"bill_amount_chain_currency":100.0,"payment_transaction_fee":0.0,"payment_total_usd":4.91,"payment_total_chain_currency":100.0,"chain_earned":7.5,"chain_paid":92.5,"starting_balance":172300.09,"ending_balance":172207.59,"hours_to_fulfill":0,"sms_text":null,"created_at":"2018-12-08T02:15:02Z","bill_amount_local_currency":100.0,"local_currency":"MXN","ticket_text":"Pago
        realizado exitosamente Auth: 1544235302"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"50f9478e78ed0ecb93baee2c929edc91"]
    status: {code: 201, message: Created}
version: 1
