interactions:
- request:
    body: '{"biller_id": 13599, "account_number": "559999", "amount": 100.0, "currency":
      "MXN", "name_on_account": null}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:KGx6XGjjqvicW53tjxvdSS6ZzEE=']
      Content-MD5: [U86ULvlq1wG/DVe1HygOkw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bill/pay
  response:
    body: {string: '{"code":"R5","message":"Invalid Phone Number","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 422, message: Unprocessable Entity}
version: 1
