interactions:
- request:
    body: '{"biller_id": 1821, "account_number": "1111992022"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:ScWDO/SC/VIIra9dvm1oGTtWgQw=']
      Content-MD5: [HR9jX/Q86NJdP9mdMUuy6w==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"code":"R22","message":"Biller maintenance in progress, please
        try again later","id":8394}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 422, message: Unprocessable Entity}
version: 1
