interactions:
- request:
    body: '{"biller_id": 13599, "account_number": "5599999999", "amount": 100.0, "currency":
      "MXN", "name_on_account": null}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:5REvmfNaIJ8xyw7G23K42XpXvCw=']
      Content-MD5: [gezFHl/YiK0K7SyixrATUQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bill/pay
  response:
    body: {string: '{"id":47070,"external_id":null,"biller_id":13599,"account_number":"5599999999","bill_amount":100.0,"bill_amount_currency":"MXN","fx_rate":1.0,"bill_amount_usd":5.27,"bill_amount_chain_currency":100.0,"payment_transaction_fee":0.0,"payment_total_usd":5.27,"payment_total_chain_currency":100.0,"chain_earned":7.5,"chain_paid":92.5,"starting_balance":122230.26,"ending_balance":122137.76,"hours_to_fulfill":0,"sms_text":null,"created_at":"2019-01-16T19:07:27Z","bill_amount_local_currency":100.0,"local_currency":"MXN","ticket_text":"Pago
        realizado exitosamente Auth: 1547665647"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"e8f2208310d876320ac23b1a4942ddf4"]
    status: {code: 201, message: Created}
version: 1
