interactions:
- request:
    body: '{"biller_id": 40, "account_number": "501000000007"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:WUM7DkkiLR7ct5Lv5NEO5O8r1wc=']
      Content-MD5: [PtZUYQ9bmh3ULNV0W7ZNdw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8390,"biller_id":40,"account_number":"501000000007","name_on_account":null,"due_date":null,"balance":549.0,"balance_currency":"MXN","balance_updated_at":"2019-01-28T18:33:27Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"d805c768a13e300a349526c7db11ce7f"]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:bimd5tdH1kuz5lsvgeVXFbkrRwM=']
      Content-MD5: [mZFLkyvTelC5g8XnyQrpOw==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.casiregalii.com/bills/8390
  response:
    body: {string: '{"type":"bill","id":8390,"biller_id":40,"account_number":"501000000007","name_on_account":null,"due_date":null,"balance":549.0,"balance_currency":"MXN","balance_updated_at":"2019-01-28T18:33:27Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"d805c768a13e300a349526c7db11ce7f"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 549.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:+e0DHN8Gs+sAhU5de9O632kWV7M=']
      Content-MD5: [ze1WRUVApUnpFxTpAr7ygw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8390/pay
  response:
    body: {string: '{"type":"transaction","id":47580,"amount":549.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":28.82,"transaction_fee":3.0,"total_usd":28.98,"hours_to_fulfill":0,"created_at":"2019-01-28T18:33:29Z","status":"fulfilled"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"6f8f7aa9ae50acd3f3c3cbaa29b95fca"]
    status: {code: 201, message: Created}
version: 1
