interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:m5ZUA6ZbbxNYw6IrZ41gjzXFMy4=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":null,"balance":809.0,"balance_currency":"MXN","balance_updated_at":"2019-01-16T19:07:29Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"a0cb17baa3b3ac23efebd5fea7bfc695"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 809.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:MoPPTYrfjfdlDzy/JFtE7n2/iLU=']
      Content-MD5: [ex4MASuNx683m6H057RXug==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":47072,"amount":809.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":42.63,"transaction_fee":3.0,"total_usd":42.79,"hours_to_fulfill":24,"created_at":"2019-01-16T19:07:31Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"a2380a7da61048a89a5cfa4199b6ef07"]
    status: {code: 201, message: Created}
- request:
    body: '{"id": 47072}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:UJNnrewupjCbOP7c/2Iy2e6YLR4=']
      Content-MD5: [2uYVt6XuR9hJLepRz29Asw==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R0","message":"Transaction successful","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"db0d73e6dab3e6ac7e916f3c7659ec9f"]
    status: {code: 200, message: OK}
version: 1
