interactions:
- request:
    body: '{"biller_id": 35, "account_number": "123456851236"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:/B2K4TIraK+wSO3HgATj2Qr/Z90=']
      Content-MD5: [PwKwTwz6VF3g47PSroLXIQ==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills
  response:
    body: {string: '{"type":"bill","id":8392,"biller_id":35,"account_number":"123456851236","name_on_account":null,"due_date":null,"balance":840.0,"balance_currency":"MXN","balance_updated_at":"2019-01-29T19:31:10Z","error_code":null,"error_message":null,"status":"linked","migrated_at":null,"mfa_challenges":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"d6552bb47f04e9bfa58b8dee4320cd97"]
    status: {code: 200, message: OK}
- request:
    body: '{"amount": 840.0, "currency": "MXN"}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:+rttpjMgsieatPm8d41wQjDqLdg=']
      Content-MD5: [8kRz/OHI3CymPeapTLIMYA==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/bills/8392/pay
  response:
    body: {string: '{"type":"transaction","id":47627,"amount":840.0,"amount_currency":"MXN","fx_rate":1.0,"amount_usd":44.1,"transaction_fee":3.0,"total_usd":44.26,"hours_to_fulfill":24,"created_at":"2019-01-29T19:31:13Z","status":"sent"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"076228df4cc1e41937126f387edf41b1"]
    status: {code: 201, message: Created}
- request:
    body: '{"id": 47627}'
    headers:
      Authorization: ['APIAuth 88879c1b066dc9aea6201f27be2bbba9:C8ubmPBgWisk44fM94LRBCtMQCA=']
      Content-MD5: [ln/ge2H2tdFZN71jIiKFPA==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.casiregalii.com/transaction/cancel
  response:
    body: {string: '{"code":"R0","message":"Transaction successful","mode":"STAGING"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"db0d73e6dab3e6ac7e916f3c7659ec9f"]
    status: {code: 200, message: OK}
version: 1
